.profile {
  margin: 30px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.profile .details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile .details a {
  text-decoration: none;
  cursor: pointer;
}

.details .username {
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 0.2em;
  margin-bottom: 0.8rem;
  color: #353b85;
}

.details .date {
  font-size: 2.2em;
  font-weight: 500;
}

.details .time {
  font-size: 4.2em;
  font-weight: 600;
}

.profile .image {
  width: 26vw; /* Adjust width based on viewport */
  height: auto; /* Let height auto-adjust to maintain aspect ratio */
  position: absolute;
  right: -120px; /* Align to the right */
  bottom: -34px;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Responsive Profile Details */

@media only screen and (max-width: 1280px) {
  .profile .image {
    width: 333.578px;
  }
}

@media only screen and (max-width: 1180px) {
}

@media only screen and (max-width: 1020px) {
}

@media only screen and (max-width: 960px) {
}

@media only screen and (max-width: 860px) {
  .profile .details {
    gap: 0.7rem;
  }
  .profile .image {
    right: -77px;
    /* width:35.6vw; */
    width: 306.016px;
  }
}

@media only screen and (max-width: 700px) {
  .profile .image {
    right: -75px;
    width:43.72vw;
  }
}

@media only screen and (max-width: 660px) {
  .details .time {
    font-size: 4em;
  }

  .profile .image {
    right: -72px;
    width:43.72vw;
  }
}

@media only screen and (max-width: 530px) {
  .profile .image {
    display: none;
  }
}

@media only screen and (max-width: 440px) {
  .profile .details {
    gap: 0.5rem;
  }
  .details .username {
    font-size: 1em;
  }

  .profile .image {
    right: -75px;
  }

  .details .date {
    font-size: 1.5em;
  }

  .details .time {
    font-size: 3.5em;
  }
}
