:root {
    --primary-color: #c7ace0;
    --secondary-color: #f5cbd5;
    --accent-color:#A174CB;
    --background-color: #f5eefb;
    --link-color:#353b85;
    --text-gradient:linear-gradient(135deg,#C895C5, #c7ace0);

    /* black button */
    --btn-background:#0c132d;
    --btn-hover:#0c132df8;
    --btn-text:#e5dcee;

    /* task input */
    --input-border:#0c132db7;


    /* signup page */
    --text-color:#312e31;

    /* form inputs */
    --border-color:#a9a1ac;
    --input-focus:#a174cb88;
    --input-box-shadow:0 0 1px 1px rgba(161, 116, 203, 0.5);
    --error-color:#d83939;

    /* submit button */
    --loginbtn-color:#965fc9;
    --loginbtn-hover:#a174cb;
  }