* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background: linear-gradient(135deg, #f5cbd5, #c7ace0);
    font-family: "Inria Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    min-height: 100vh;
  }