:root {
    --primary-color: #c7ace0;
    --secondary-color: #f5cbd5;
    --accent-color:#A174CB;
    --background-color: #f5eefb;
    --link-color:#353b85;
    --text-gradient:linear-gradient(135deg,#C895C5, #c7ace0);

    
    /* black button */
    --btn-background:#0c132d;
    --btn-hover:#0c132df8;
    --btn-text:#e5dcee;

    /* task input */
    --input-border:#0c132db7;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  
  body {
    background: linear-gradient(135deg, var(--secondary-color), var(--primary-color));
    font-family: "Inria Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    min-height: 100vh;

  }